<div ng-include="'components/shell/shell.html'"></div>
<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="General">
            <div ng-if="selectedGame == 'OW'" ng-include src="'/components/general/generalOW.html'"></div>
            <div ng-if="selectedGame == 'LOL'" ng-include src="'/components/general/generalLOL.html'"></div>
        </md-tab>
        <md-tab label="Projected">
            <div ng-if="selectedGame == 'OW'" ng-include src="'/components/projected/projectedOW.html'"></div>
            <div ng-if="selectedGame == 'LOL'" ng-include src="'/components/projected/projectedLOL.html'"></div>
        </md-tab>
        <md-tab label="Compare">
            <div ng-if="selectedGame == 'OW'" ng-include src="'/components/compare/compareOW.html'"></div>
            <div ng-if="selectedGame == 'LOL'" ng-include src="'/components/compare/compareLOL.html'"></div>
        </md-tab>
    </md-tabs>
</md-content>
