<div ng-controller="MainCtrl">
<div layout="row" layout-sm="column">
    <div flex>
        <md-card>
            <form ng-submit="getMyData();">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Platform</label>
                    <md-select ng-model="myPlatform">
                        <md-option ng-repeat="myPlatform in myPlatforms" value="{{myPlatform}}">{{myPlatform}}</md-option>
                    </md-select>
                </md-input-container>
                <br>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Region</label>
                    <md-select ng-model="myRegion">
                        <md-option ng-repeat="myRegion in myRegions" value="{{myRegion}}">{{myRegion}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Enter a Battletag, PSN ID or XBL Gamertag...</label>
                    <input type="text" ng-model="myUserInput">
                </md-input-container class="md-block" flex-gt-sm>
            </form>
        </md-card>
    </div>
    <div flex>
        <md-card>
            <form ng-submit="getLOLData()">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Platform</label>
                    <md-select ng-model="oppPlatform">
                        <md-option ng-repeat="oppPlatform in oppPlatforms" value="{{oppPlatform}}">
                            {{oppPlatform}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <br>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Region</label>
                    <md-select ng-model="oppRegion">
                        <md-option ng-repeat="oppRegion in oppRegions" value="{{oppRegion}}">
                            {{oppRegion}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Enter a Battletag, PSN ID or XBL Gamertag...</label>
                    <input type="text" ng-model="oppUserInput" ng-submit="getOppData();">
                </md-input-container>
            </form>
        </md-card>
    </div>
</div>
</div>