<div ng-controller="MainCtrl">
    <div layout="row" layout-xs="column">
        <div flex>
            <md-card layout-align="center" flex>
                <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}" >
                    <md-card-title-text>
                        <span class="md-headline">Player Search</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content style="height: 100%;" flex>
                    <form ng-submit="getMyData()">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Platform</label>
                            <md-select ng-model="myPlatform">
                                <md-option ng-repeat="myPlatform in myPlatforms" value="{{myPlatform}}">{{myPlatform}}</md-option>
                            </md-select>
                        </md-input-container>
                        <br>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Region</label>
                            <md-select ng-model="myRegion">
                                <md-option ng-repeat="myRegion in myRegions" value="{{myRegion}}">{{myRegion}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Enter a Battletag, PSN ID or XBL Gamertag...</label>
                            <input type="text" ng-model="myUserInput">
                        </md-input-container class="md-block" flex-gt-sm>
                    </form>
                </md-card-content>
            </md-card>
        </div>
        <div flex class="owfont" ng-hide="hideStats">
            <md-card flex>
                <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                    <md-card-title-text>
                        <span class="md-headline">{{myUsername}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-xs="column">
                    <div class="md-media-xl card-media" flex-gt-sm>
                        <img ng-src="{{myAvatar}}">
                    </div>
                    <div flex>
                        <h2>Level: {{myLevel}}</h2>
                        <h2>Rank: {{myRank}}</h2>
                        <h2>Prestige: {{myPrestige}}</h2>
                    </div>
                    <div flex-gt-sm>
                        <h1>COMPETITIVE</h1>
                        <h2>Wins: {{myCompWins}}</h2>
                        <h2>Win Rate: {{myWinRate}}</h2>
                        <h2>Time Played: {{myCompPlaytime}} hours</h2>
                    </div>
                    <div class="md-media-md card-media" flex-gt-sm>
                        <img ng-src="{{tierImage}}">
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <br>
    <div class="loader" ng-hide="hideLoader">
        <ul class="hexagon-container">
            <li class="hexagon hex_1"></li>
            <li class="hexagon hex_2"></li>
            <li class="hexagon hex_3"></li>
            <li class="hexagon hex_4"></li>
            <li class="hexagon hex_5"></li>
            <li class="hexagon hex_6"></li>
            <li class="hexagon hex_7"></li>
        </ul>
    </div>
    <div flex layout="row" layout-xs="column" class="owfont" ng-hide="hideStats">
        <md-card flex>
            <md-card-title md-colors="::{backgroundColor: 'default-primary-900'}">
                <md-card-title-text>
                    <span class="md-headline">Competitive Statistics</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout-align="space-between">
                <div layout="row" layout-xs="column">
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Damage</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Melee Final Blows: {{totalMeleeComp}}</h2>
                                <h2>Solo Kills: {{totalSoloKillsComp}}</h2>
                                <h2>Objective Kills: {{totalObjKillsComp}}</h2>
                                <h2>Final Blows: {{totalFinalBlowsComp}}</h2>
                                <h2>Damage Done: {{totalDamageDoneComp}}</h2>
                                <h2>Eliminations: {{totalElimsComp}}</h2>
                                <h2>Environmental Kills: {{totalEnvKillsComp}}</h2>
                                <h2>Multikills: {{totalMultikillsComp}}</h2>
                                <h2>Kills Per Death: {{kpdComp}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Assists</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Healing Done: {{totalHealingComp}}</h2>
                                <h2>Recon Assists: {{totalRecAssistsComp}}</h2>
                                <h2>Offensive Assists: {{totalOffAssistsComp}}</h2>
                                <h2>Defensive Assists: {{totalDefAssistsComp}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Best/Most in Game</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Eliminations: {{elimsBestComp}}</h2>
                                <h2>Final Blows: {{finalBlowsBestComp}}</h2>
                                <h2>Damage Done: {{damageDoneBestComp}} </h2>
                                <h2>Healing Done: {{healingBestComp}}</h2>
                                <h2>Defensive Assists: {{defAssistsBestComp}}</h2>
                                <h2>Offensive Assists: {{offAssistsBestComp}}</h2>
                                <h2>Objective Kills: {{objKillsBestComp}} </h2>
                                <h2>Objective Time: {{objTimeBestComp}}</h2>
                                <h2>Multikill: {{multikillBestComp}}</h2>
                                <h2>Solo Kills: {{soloKillsBestComp}}</h2>
                                <h2>Time Spent On Fire: {{onFireBestComp}} hours</h2>
                                <h2>Melee Final Blows: {{meleeBestComp}}</h2>
                                <h2>Kill Streak: {{bestKillStreakComp}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Deaths</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Deaths: {{totalDeathsComp}}</h2>
                                <h2>Environmental Deaths: {{totalEnvDeathsComp}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Average</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Melee Final Blows: {{meleeAvgComp}}</h2>
                                <h2>Time Spent On Fire: {{onFireAvgComp}} hours</h2>
                                <h2>Solo Kills: {{soloKillsAvgComp}}</h2>
                                <h2>Objective Time: {{objTimeAvgComp}}</h2>
                                <h2>Objective Kills: {{objKillsAvgComp}}</h2>
                                <h2>Healing Done: {{healingAvgComp}}</h2>
                                <h2>Final Blows: {{finalBlowsAvgComp}}</h2>
                                <h2>Deaths: {{deathsAvgComp}}</h2>
                                <h2>Damage Done: {{damageDoneAvgComp}}</h2>
                                <h2>Eliminations: {{elimsAvgComp}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Match Awards</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Cards: {{totalCardsComp}}</h2>
                                <h2>Medals: {{totalMedalsComp}}</h2>
                                <h2>Gold Medals: {{totalGoldComp}}</h2>
                                <h2>Silver Medals: {{totalSilverComp}}</h2>
                                <h2>Bronze Medals: {{totalBronzeComp}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Misceallaneous</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Shield Generators Destroyed: {{shieldGensDestroyedComp}}</h2>
                                <h2>Turrets Destroyed: {{turretsDestroyedComp}}</h2>
                                <h2>Teleporters Destroyed: {{totalTeleDestroyedComp}}</h2>
                                <h1>Most in Game</h1>
                                <h2>Recon Assists: {{recAssistsBestComp}}</h2>
                                <h2>Shield Generator Destroyed: {{shieldGensDestroyedBestComp}}</h2>
                                <h2>Turrets Destroyed: {{turretsDestroyedBestComp}}</h2>
                                <h2>Environmental Kills: {{envKillsBestComp}}</h2>
                                <h2>Teleporters Destroyed: {{teleDestroyedBestComp}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Game</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Games Played: {{gamesComp}}</h2>
                                <h2>Games Won: {{myCompWinsComp}}</h2>
                                <h2>Games Tied: {{tiesComp}}</h2>
                                <h2>Games Lost: {{lossesComp}}</h2>
                                <h2>Time Spent On Fire: {{totalOnFireComp}}</h2>
                                <h2>Objective Time: {{totalObjTimeComp}}</h2>
                                <h2>Time Played: {{myCompPlaytimeComp}} hours</h2>
                            </md-content>
                        </md-card>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex layout="row" layout-xs="column" class="owfont" ng-hide="hideStats">
        <md-card flex>
            <md-card-title md-colors="::{backgroundColor: 'default-accent-900'}">
                <md-card-title-text>
                    <span class="md-headline">Quick Play Statistics</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content flex layout-align="space-between">
                <div layout="row" layout-xs="column">
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Damage</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Melee Final Blows: {{totalMeleeQP}}</h2>
                                <h2>Solo Kills: {{totalSoloKillsQP}}</h2>
                                <h2>Objective Kills: {{totalObjKillsQP}}</h2>
                                <h2>Final Blows: {{totalFinalBlowsQP}}</h2>
                                <h2>Damage Done: {{totalDamageDoneQP}}</h2>
                                <h2>Eliminations: {{totalElimsQP}}</h2>
                                <h2>Environmental Kills: {{totalEnvKillsQP}}</h2>
                                <h2>Multikills: {{totalMultikillsQP}}</h2>
                                <h2>Kills Per Death: {{kpdQP}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Assists</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Healing Done: {{totalHealingQP}}</h2>
                                <h2>Recon Assists: {{totalRecAssistsQP}}</h2>
                                <h2>Offensive Assists: {{totalOffAssistsQP}}</h2>
                                <h2>Defensive Assists: {{totalDefAssistsQP}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Best/Most in Game</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Eliminations: {{elimsBestQP}}</h2>
                                <h2>Final Blows: {{finalBlowsBestQP}}</h2>
                                <h2>Damage Done: {{damageDoneBestQP}} </h2>
                                <h2>Healing Done: {{healingBestQP}}</h2>
                                <h2>Defensive Assists: {{defAssistsBestQP}}</h2>
                                <h2>Offensive Assists: {{offAssistsBestQP}}</h2>
                                <h2>Objective Kills: {{objKillsBestQP}} </h2>
                                <h2>Objective Time: {{objTimeBestQP}}</h2>
                                <h2>Multikill: {{multikillBestQP}}</h2>
                                <h2>Solo Kills: {{soloKillsBestQP}}</h2>
                                <h2>Time Spent On Fire: {{onFireBestQP}} hours</h2>
                                <h2>Melee Final Blows: {{meleeBestQP}}</h2>
                                <h2>Kill Streak: {{bestKillStreakQP}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Deaths</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Deaths: {{totalDeathsQP}}</h2>
                                <h2>Environmental Deaths: {{totalEnvDeathsQP}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Average</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Melee Final Blows: {{meleeAvgQP}}</h2>
                                <h2>Time Spent On Fire: {{onFireAvgQP}} hours</h2>
                                <h2>Solo Kills: {{soloKillsAvgQP}}</h2>
                                <h2>Objective Time: {{objTimeAvgQP}}</h2>
                                <h2>Objective Kills: {{objKillsAvgQP}}</h2>
                                <h2>Healing Done: {{healingAvgQP}}</h2>
                                <h2>Final Blows: {{finalBlowsAvgQP}}</h2>
                                <h2>Deaths: {{deathsAvgQP}}</h2>
                                <h2>Damage Done: {{damageDoneAvgQP}}</h2>
                                <h2>Eliminations: {{elimsAvgQP}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Match Awards</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Cards: {{totalCardsQP}}</h2>
                                <h2>Medals: {{totalMedalsQP}}</h2>
                                <h2>Gold Medals: {{totalGoldQP}}</h2>
                                <h2>Silver Medals: {{totalSilverQP}}</h2>
                                <h2>Bronze Medals: {{totalBronzeQP}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Misceallaneous</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Shield Generators Destroyed: {{shieldGensDestroyedQP}}</h2>
                                <h2>Turrets Destroyed: {{turretsDestroyedQP}}</h2>
                                <h2>Teleporters Destroyed: {{totalTeleDestroyedQP}}</h2>
                                <h1>Most in Game</h1>
                                <h2>Recon Assists: {{recAssistsBestQP}}</h2>
                                <h2>Shield Generator Destroyed: {{shieldGensDestroyedBestQP}}</h2>
                                <h2>Turrets Destroyed: {{turretsDestroyedBestQP}}</h2>
                                <h2>Environmental Kills: {{envKillsBestQP}}</h2>
                                <h2>Teleporters Destroyed: {{teleDestroyedBestQP}}</h2>
                            </md-content>
                        </md-card>
                    </div>
                    <div flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Game</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content class="fix-me">
                                <h2>Games Played: {{gamesQP}}</h2>
                                <h2>Games Won: {{myCompWinsQP}}</h2>
                                <h2>Games Tied: {{tiesQP}}</h2>
                                <h2>Games Lost: {{lossesQP}}</h2>
                                <h2>Time Spent On Fire: {{totalOnFireQP}}</h2>
                                <h2>Objective Time: {{totalObjTimeQP}}</h2>
                                <h2>Time Played: {{playtimeQP}} hours</h2>
                            </md-content>
                        </md-card>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
