<div ng-controller="MainCtrl">
    <div layout="row" layout-xs="column">
        <md-content flex>
            <md-card layout-align="center" flex>
                <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                    <md-card-title-text>
                        <span class="md-headline">Player Search</span>
                    </md-card-title-text>
                </md-card-title>
                <md-content-card flex>
                    <form ng-submit="getMyLOLData()">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Region</label>
                            <md-select ng-model="myLOLRegion">
                                <md-option ng-repeat="myLOLRegion in myLOLRegions" value="{{myLOLRegion}}">{{myLOLRegion}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Enter Summoner name...</label>
                            <input type="text" ng-model="myLOLUserInput">
                        </md-input-container class="md-block" flex-gt-sm>
                    </form>
                </md-content-card>
            </md-card>
        </md-content>
        <md-content flex class="lolfont" ng-hide="hideLOLStats">
            <md-card flex>
                <md-card-title md-colors="::{backgroundColor: 'default-primary-700'}">
                    <md-card-title-text>
                        <span class="md-headline">{{myLOLUserName}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-content-card layout="row" layout-xs="column">
                    <md-content flex>
                        <h2>Summoner ID: {{mySummonerID}}</h2>
                        <h2>Rank: {{myLOLRank}}LP</h2>
                    </md-content>
                    <md-content flex-gt-sm>
                        <h1>COMPETITIVE</h1>
                        <h2>Wins: {{myLOLRankedWins}}</h2>
                        <h2>Win Rate: {{myLOLWinRate}}</h2>
                    </md-content>
                    <md-content class="md-media-md card-media" flex-gt-sm>
                        <img ng-src="{{tierImage}}">
                    </md-content>
                </md-content-card>
            </md-card>
        </md-content>
    </div>
    <br>
    <div class="loader" ng-hide="hideLoader">
        <ul class="hexagon-container">
            <li class="hexagon hex_1"></li>
            <li class="hexagon hex_2"></li>
            <li class="hexagon hex_3"></li>
            <li class="hexagon hex_4"></li>
            <li class="hexagon hex_5"></li>
            <li class="hexagon hex_6"></li>
            <li class="hexagon hex_7"></li>
        </ul>
    </div>
    <div flex layout="row" layout-xs="column" class="lolfont" ng-hide="hideLOLStats">
        <md-card flex>
            <md-card-title md-colors="::{backgroundColor: 'default-primary-900'}">
                <md-card-title-text>
                    <span class="md-headline">Statistics</span>
                </md-card-title-text>
            </md-card-title>
            <md-content-card flex layout-align="space-between">
                <md-content layout="row" layout-xs="column">
                    <md-content flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Unranked Matches</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content-card class="fix-me">
                                <h2>Kills: {{myUnrankedKills}}</h2>
                                <h2>Creep Score: {{myUnrankedCS}}</h2>
                                <h2>Turret Kills: {{myUnrankedTurretKills}}</h2>
                                <h2>Neutral Minion Kills: {{myUnrankedNeutralMinions}}</h2>
                                <h2>Assists: {{myUnrankedAssists}}</h2>
                            </md-content-card>
                        </md-card>
                    </md-content>
                    <md-content flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-warn-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Ranked Matches</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content-card class="fix-me">
                                <h2>Wins: {{myLOLRankedWins}}</h2>
                                <h2>Losses: {{myLOLRankedLosses}}</h2>
                                <h2>Kills: {{myRankedKills}}</h2>
                                <h2>Creep Score: {{myRankedCS}}</h2>
                                <h2>Turret Kills: {{myRankedTurretKills}}</h2>
                                <h2>Neutral Minion Kills: {{myRankedNeutralMinions}}</h2>
                                <h2>Assists: {{myRankedAssists}}</h2>
                            </md-content-card>
                        </md-card>
                    </md-content>
                    <md-content flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-accent-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Player Stats</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content-card class="fix-me">
                                <h2>Total Wins: {{myLOLWins}}</h2>
                                <h2>Total Loss: {{myLOLLoss}}</h2>
                                <h2>Kills: {{myLOLKills}} </h2>
                                <h2>Damage Dealt: {{myLOLTotalDamageDealt}}</h2>
                                <h2>Damage Taken: {{myLOLTotalDamageTaken}}</h2>
                                <h2>Creep Score: {{myLOLTotalCS}}</h2>
                                <h2>Double Kills: {{myLOLTotalDoubleKills}} </h2>
                                <h2>Triple Kills: {{myLOLTotalTripleKills}}</h2>
                                <h2>Quadra Kills: {{myLOLTotalQuadraKills}}</h2>
                                <h2>Penta Kills: {{myLOLTotalPentaKills}}</h2>
                                <h2>Unreal Kills: {{myLOLTotalUnrealKills}}</h2>
                                <h2>Deaths: {{myLOLTotalDeaths}}</h2>
                                <h2>Gold Earned: {{myLOLTotalGoldEarned}}</h2>
                                <h2>Turrets Killed: {{myLOLTotalTurretsKilled}}</h2>
                                <h2>Physical Damage Dealt: {{myLOLTotalPhysicalDamageDealt}}</h2>
                                <h2>Magic Damage Dealt: {{myLOLTotalMagicDamageDealt}}</h2>
                                <h2>Neutral Minions Killed: {{myLOLTotalNeutralMinionsKilled}}</h2>
                                <h2>First Bloods: {{myLOLTotalFirstBlood}}</h2>
                                <h2>Assists: {{myLOLTotalAssists}}</h2>
                                <h2>Healing Done: {{myLOLTotalHeal}}</h2>
                            </md-content-card>
                        </md-card>
                    </md-content>
                    <md-content flex>
                        <md-card flex>
                            <md-card-title md-colors="::{backgroundColor: 'default-warn-700'}">
                                <md-card-title-text>
                                    <span class="md-headline">Best/Most in Game</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-content-card class="fix-me">
                                <h2>Kills Per Game: {{myLOLMostKillsPerGame}}</h2>
                                <h2>Killing Spree: {{maxLargestKillingSpree}}</h2>
                                <h2>Champion Kills: {{maxChampionsKilled}} </h2>
                                <h2>Deaths: {{maxNumDeaths}}</h2>
                                <h2>Time Played: {{maxTimePlayed}}</h2>
                                <h2>Time Spent Alive: {{maxTimeSpentLiving}}</h2>
                            </md-content-card>
                        </md-card>
                    </md-content>
                </md-content>
            </md-content-card>
        </md-card>
    </div>
</div>
